NODE_ENV="development"

#Authentification
AUTH_SECRET="0123456789"

#Link
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_API_BACKEND_URL="http://finance.christaxel.me/api/v2"
NEXT_PUBLIC_API_FILE_URL="http://localhost:3000"

NEXT_PUBLIC_EMAILJS_PUBLIC_KEY="wQAFZ-UUwTLUDgsTK"
NEXT_PUBLIC_EMAILJS_SERVICE_ID="service_2am3pyp"
NEXT_PUBLIC_EMAILJS_BENEVOLE_TEMPLATE_ID="template_90370d6"
